/* Custom CSS for the mobile vegan guide app */

/*
 * Page: New places
 */

/* Date bubble */
#new span.ui-li-count {
	top: 30px; /* shift to same height as the title of the new place */
}
/* Description */
#new p {
	white-space: normal; /* show full text */
}

/*
 * Page: place detailed
 */
/* place page image formatting */
figure {
	margin: 0;
}
figcaption {
	white-space: normal;
	font-size: 12px;
}
#place img {
	border-radius: 1em 1em 1em 1em;
    background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 5px;
    margin: 5px auto 5px auto;
    display: block;
}
#place img + figcaption {
	display: none;
}
figcaption + #place img {
	margin: 0;
	border: 1px solid #ff0000 !important;
}
img[data-role="map"] {
	max-width: 95%;
}

/* place page dt list */
#place dl {
	display: block;
	width: 180px;
	margin: auto;
}
#place dt {
	display: none;
}
#place dd {
	display: inline;
	margin: 0;
}
#place dd.place-info-orientation[data-orientation="vegetarian"] a {
	display: inline-block;
	width: 50px;
	height: 36px;
	background: #8cc63f url("http://veganguide.org/style/vegan/vegetarian.png") repeat-x center;
	background-size: 100px;
	text-indent: -1000em;
	position: relative;
	top: -9px;
	border-radius: 1em 1em 1em 1em;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}
#place dd.place-info-rater:before {
	content: "(";
}
#place dd.place-info-rater:after {
	content: ")";
}
#place dd[data-rating="5"], #place dd[data-rating="4"], #place dd[data-rating="3"], #place dd[data-rating="2"], #place dd[data-rating="1"] {
	display: inline-block;
	width: 0px;
	height: 18px;
	background: transparent url("http://veganguide.org/style/icons/star.png") repeat-x left center;
	text-indent: -1000em;
}
#place dd[data-rating="1"]  { width: 16px; }
#place dd[data-rating="2"]  { width: 32px; }
#place dd[data-rating="3"]  { width: 48px; }
#place dd[data-rating="4"]  { width: 64px; }
#place dd[data-rating="5"]  { width: 80px; }
/* paragraphs in the content list */
#place ul[data-role="listview"] p {
	white-space: normal; /* show full text */
}
/* button navbar */
#place li[data-role="navbar"] a {
	margin: 0 2px 0 2px;
}

/* Page: place detailed
 * Section: comments 
 */
/* Date bubble */
#comments span.ui-li-count {
	top: 30px; /* shift to same height as the title of the new place */
}
/* list of comments */
#comments {
	padding: 0; /* reset padding of list in list */
}
/* button to expand/collapse the comments */
#buttonComments {
	/* reset css wich is applied because its a button */
	background-color: transparent;
	border-width: 0;
	padding: 0;
}
/* button is focused */
#buttonComments:focus {
	/* reset css wich is applied because its a button */
	box-shadow: none;
}
