
<ion-view>
    <ion-nav-title>Umkreissuche</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-map" ng-click="toggleOptions()"></button>
    </ion-nav-buttons>
    <ion-side-menus enable-menu-with-back-views="false" delegate-handle="search-menu">
        <ion-side-menu-content ng-switch on="lookup.map">
            <!-- Result as list -->
            <ion-content ng-switch-when="false">
                <ion-list>
                    <ng-include src="'app/components/search/SearchViewInput.html'"></ng-include>
                    <div ng-if="!lookup.map">
                        <ion-item collection-repeat="place in search.data" ng-href="#/app/place/{{place.identifier}}">
                            <span ng-bind-html="place.name"></span> <span class="badge badge-balanced" ng-if="place.distance">{{place.distance}} km</span>
                            <p><span ng-bind-html="place.verbose.address"></span>, <span ng-bind-html="place.verbose.city"></span></p>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
            <!-- Result as a map -->
            <ion-content scroll="false" ng-switch-when="true">
                <ng-include src="'app/components/search/SearchViewInput.html'"></ng-include>
                <div scroll="false" class="mapWrap" data-tap-disabled="true">
                    <map center="51.312834,12.376058" zoom="12" disable-default-u-i="true" zoom-control="true" scale-control="true">
                        <marker position="{{search.position.geometry.location.A}},{{search.position.geometry.location.F}}"
                                title="Gesuchte Position"
                                icon="http://maps.google.com/mapfiles/kml/pushpin/grn-pushpin.png"
                                ng-if="search.position.geometry.location.A && search.position.geometry.location.F">
                        </marker>
                        <marker ng-repeat="item in search.data"
                                position="{{item.coords.lat}},{{item.coords.lon}}"
                                title="{{item.name}}"
                                on-click="showInfoWindow(event, item)">
                        </marker>
                    </map>
                </div>
            </ion-content>
        </ion-side-menu-content>
        <ion-side-menu side="right">
            <ion-content>
                <ion-list>
                    <ion-item class="item-divider">Suchoptionen</ion-item>
                    <ion-toggle ng-model="lookup.map" toggle-class="toggle-balanced">Karte nutzen</ion-toggle>
                    <label class="item item-input item-select">
                        <span class="input-label">Radius:</span>
                        <select ng-model="lookup.radius" id="radius-select">
                            <option selected>{{lookup.radius}} km</option>
                            <option>1 km</option>
                            <option>5 km</option>
                            <option>10 km</option>
                            <option>25 km</option>
                            <option>50 km</option>
                        </select>
                    </label>
                    <div class="item range range-positive">
                        <i class="ion-ios-location-outline"></i>
                        <input type="range" name="volume" min="0" max="50" ng-model="lookup.radius">
                        <i class="ion-ios-location"></i>
                    </div>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>



