<div id="place">
	<ul data-role="listview" ng-if="place.data" listview-refresh>
		<li class="centered">
			<dl>
				<dt>Ausrichtung</dt>
					<dd class="place-info-orientation" data-orientation="{{::place.data.orientation}}"><span title="{{::place.data.orientation}}">{{::place.data.orientation}}</span></dd>
				<dt ng-if="::place.data.rating.rating">Bewertung</dt>
					<dd ng-if="::place.data.rating.rating" data-rating="{{::place.data.rating.rating}}">{{::place.data.rating.rating}}</dd>
				<dt ng-if="::place.data.rating.rating">Bewerter</dt>
					<dd ng-if="::place.data.rating.rating" class="place-info-rater">{{::place.data.rating.votes}}</dd>
			</dl>
			<!--<figure>
				<img src="http://veganguide.org/cache/d1b0803e8b51.jpg" alt="Bild: Zest">
				<figcaption>Bild vom Zest</figcaption>
			</figure>-->
		</li>
	    <li data-role="list-divider" ng-if="place.data.contact.phone || place.data.contact.email || place.data.contact.www"><h2>Kontakt</h2></li>
	    <li data-role="navbar" data-iconpos="left" ng-if="place.data.contact.phone || place.data.contact.email || place.data.contact.www">
			<ul>
				<li><a href="tel:{{::place.data.contact.phone}}" title="{{::place.data.name}} anrufen" data-role="button" data-icon="star" ng-if="::place.data.contact.phone">Tel</a></li>
				<li><a href="mailto:{{::place.data.contact.email}}" title="{{::place.data.name}} schreiben" data-role="button" data-icon="info" ng-if="::place.data.contact.email">Mail</a></li>
				<li><a href="{{::place.data.contact.www}}" title="{{::place.data.name}} besuchen" data-role="button" data-icon="home" ng-if="::place.data.contact.www">www</a></li>
			</ul>
		</li><!-- /navbar -->
		<li data-role="list-divider" ng-if="::place.data.description"><h2>Beschreibung</h2></li>
		<li ng-if="::place.data.description"><p ng-bind="::place.data.description"></p></li>
		<li data-role="list-divider" ng-if="::place.data.open"><h2>Öffnungszeiten</h2></li>
		<li ng-if="::place.data.open"><p ng-bind-html="::place.data.open"></p></li>
		<li data-role="list-divider"><h2>Anschrift</h2></li>
		<li>
			<figure>
				<figcaption>{{::place.data.address}}, {{::place.data.city}}, {{::place.data.country}}</figcaption>
				<a ng-if="place.data.coords.lat && place.data.coords.lon" href="https://www.google.de/maps/place/{{place.data.address}}, {{place.data.city}}, {{place.data.country}}/18z" title="{{place.data.name}} in Google Maps">
					<img src="http://maps.google.com/maps/api/staticmap?size=400x400&format=png32&center={{place.data.coords.lat}},{{place.data.coords.lon}}&zoom=15&markers={{place.data.coords.lat}},{{place.data.coords.lon}}" alt="Karte" data-role="map">
				</a>
			</figure>
		</li>
		<!-- comments -->
		<li data-role="list-divider"><button id="buttonComments" class="ui-btn ui-btn-icon-right {{showComments && 'ui-icon-minus' || 'ui-icon-plus'}}" ng-click="comments();"><h2 class="ui-bar-inherit">Kommentare</h2></button></li>
		<li id="comments" data-inset="false" ng-show="showComments">
	        <ul data-role="listview" listview-refresh>
	            <li ng-repeat="comment in place.comments.data">
	            	<h3>{{comment.submitter}}<span class="ui-li-count">{{comment.date.scalar | date : 'dd.MM.yy'}}</span></h3>
	            	<p ng-bind-html="comment.text"></p>
	        	</li>
	        </ul>
	        <span ng-hide="place.comments.data">Keine Kommentare vorhanden.</span>
		</li><!-- /comments -->		
	</ul><!-- /listview -->
</div><!-- /page -->