<ion-view>
    <ion-nav-title>Über die App</ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-divider">Über die App</div>
            <div>
                <p class="item item-text-wrap-multiline"><br>Diese Web-App bietet folgende Funktionen<br><br><strong>Neue Lokale</strong><br>Diese Funktion zeigt alle Lokale an, die erst kürzlich in die Datenbank eingetragen wurden<br><br><strong>Alle Lokale</strong><br>Lokale werden systematisch über die Eingabe von Ländern und Städten angezeigt<br><br><strong>Umkreissuche</strong><br>es können Lokale im Umkreis des aktuellen Standorts oder über die Eingabe einer Adresse gesucht werden<br><br><strong>Blog</strong><br>Der Blog zeigt Diskussionen rund um die Funktionen und Inhalte der App an</p>
			</div>
        </div>
        <div class="padding-vertical"></div>
    </ion-content>
</ion-view>
