<ion-view>
    <ion-nav-title>Über die App</ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap-multiline">Diese Web-App bietet folgende Funktionen:</div>
            <div class="item item-divider">
                Neue Lokale
            </div>
            <div class="item item-text-wrap-multiline">Diese Funktion zeigt alle Lokale an, die erst kürzlich in die Datenbank eingetragen wurden.</div>
            <div class="item item-divider">
                Alle Lokale
            </div>
            <div class="item item-text-wrap-multiline">Lokale werden systematisch über die Eingabe von Ländern und Städten angezeigt.</div>
            <div class="item item-divider">
                Umkreissuche
            </div>
            <div class="item item-text-wrap-multiline">Es können Lokale im Umkreis des aktuellen Standorts oder über die Eingabe einer Adresse gesucht werden.</div>
            <div class="item item-divider">
                Blog
            </div>
            <div class="item item-text-wrap-multiline">Der Blog zeigt Diskussionen rund um die Funktionen und Inhalte der App an.</div>
        </div>
        <div class="padding-vertical"></div>
    </ion-content>
</ion-view>
