<ion-view>
    <ion-nav-title>Impressum</ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-divider">Angaben gemäß § 5 TMG</div>
            <div class="item item-text-wrap-multiline">Diese Web-App ist 2015 im Rahmen einer Studienarbeit an der Hochschule für Telekommunikation Leipzig entstanden.</div>
            <div class="item item-divider">Anschrift</div>
            <div class="item item-text-wrap-multiline">Hochschule für Telekommunikation Leipzig<br>G. Gorges, T. Koch, E. Krause, Y. Werner (Studiengang BWI13)<br>Gustav-Freytag-Straße 43-45<br>04277 Leipzig</div>
            <div class="item item-divider">Kontakt</div>
            <div class="item">
                Telefon: +49 341 -3062 123<br>
                E-Mail: <a href='mailto:support@hft-leipzig.de'>support@hft-leipzig.de</a>
            </div>
			<div class="item item-divider">verwendete Frameworks</div>
			<div class="item item-text-wrap-multiline">Für die Bereitstellung der angezeigten Inhalte wurden unter anderem folgende Frameworks, welche Lizenzbedingungen unterliegen können, verwendet. Für die richtige Implemetierung wird keine Gewähr übernommen. <br><br><a href='http://silex.sensiolabs.org'>Silex</a><br><a href='http://angularjs.org'>angularJS</a><br><a href='http://ionicframework.com'>Ionic</a><br><a href='http://ngmap.github.io'>ngMaps</a><br><a href='http://github.com/gsklee/ngstorage'>ngStorage</a><br><a href='http://github.com/israelidany/ion-google-place'>ion-google-place</a></div>
        </div>
        <div class="padding-vertical"></div>
    </ion-content>
</ion-view>
