<ion-view>
    <ion-nav-title>Impressum</ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-divider">Impressum</div>
            <div>
                <p class="item item-text-wrap-multiline"><div class='impressum'><br><p>Angaben gemäß § 5 TMG</p><br>Diese Web-App ist 2015 im Rahmen einer Studienarbeit an der Hochschule für Telekommunikation Leipzig entstanden<p>Hochschule für Telekommunikation Leipzig<br>G. Gorges, T. Koch, E. Krause, Y. Werner (Studiengang BWI13) <br> 
																				Gustav-Freytag-Straße 43-45<br> 
																				04277 Leipzig <br> 
																				</p><p><strong>Kontakt:</strong> <br>
																				Telefon: +49 341 -3062 123<br>
																				E-Mail: <a href='mailto:info@hft-leipzig.de'>info@hft-leipzig.de</a></br></p>
																				</p></a>
																				 </div>
																				 </p>
            </div>
        </div>
        <div class="padding-vertical"></div>
    </ion-content>
</ion-view>
