<div jqm>
	<div data-role="header" data-position="inline">
		<h1>{{countryList.getById(country).name}}</h1>
		<a href="#/menu" data-role="button" data-icon="bars" data-iconpos="notext" class="ui-btn-right">Menü</a>
	</div>
	<div data-role="content">	
		<ul data-role="listview" data-autodividers="true" data-filter="true" data-filter-placeholder="Länder filtern...">
			<li ng-repeat="city in cityList.data | orderObjectBy: 'name': false">
				<a href="#/local/{{country}}/{{city.identifier}}">
					{{city.name}} <span class="ui-li-count">{{city.count}}</span>
				</a>
			</li>
		</ul><!-- /listview -->
	</div><!-- /content -->
</div><!-- /page cities -->
