<ion-view>
    <ion-nav-title>Blog</ion-nav-title>
    <ion-content>
        <div class="card" ng-repeat="entry in blog.data">
            <div class="item item-divider" ng-bind-html="entry.head"></div>
            <div class="item item-text-wrap-multiline" ng-bind-html="entry.body | trim"></div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <span class="tab-item"><i class="icon ion-person balanced"></i><span ng-bind="entry.supplier"></span></span>
                <span class="tab-item"><i class="icon ion-ios-calendar-outline balanced"></i><span ng-bind="entry.date | date : 'dd.MM.yy'"></span></span>
                <a class="tab-item" ng-click="toggleComments(entry.identifier)"><i class="icon ion-android-chat balanced"></i>Kommentare</a>
            </div>
            <ion-item ng-repeat="comment in blog.comments[entry.identifier].data" ng-if="showComments[entry.identifier]">
                <h2>{{comment.supplier}}<span class="badge badge-balanced">{{comment.date | date : 'dd.MM.yy'}}</span></h2>
                <span ng-bind-html="comment.body | trim" class="text-wrap"></span>
            </ion-item>
            <ion-item ng-if="showComments[entry.identifier] && !blog.comments[entry.identifier].data">Keine Kommentare vorhanden.</ion-item>
        </div>
        <div class="padding-vertical"></div>
    </ion-content>
</ion-view>
