<div jqm>
	<div data-role="header" data-position="inline">
		<a href="#" data-rel="back" data-role="button" data-icon="arrow-l" data-iconpos="notext">Zurück</a>
		<h1>Menü</h1>
	</div>
	<div data-role="content">	
		<ul data-role="listview">
			<li><a href="#new"><h2>Neue Orte</h2></a></li>
			<li><a href="#/local"><h2>Alle Orte</h2></a></li>
			<li><a href="#search"><h2>Suche</h2></a></li>
			<li><a href="#blog"><h2>Blog</h2></a></li>
			<li><a href="#settings"><h2>Einstellungen</h2></a></li>
			<li><a href="#impress"><h2>Impressum</h2></a></li>
			<li><a href="#terms"><h2>Nutzungsbedingungen</h2></a></li>
			<li><a href="#about"><h2>Über die App</h2></a></li>
		</ul><!-- /listview -->
	</div><!-- /content -->
</div>