/********************/
/* Page: List(s) */
/* "X" - clear button at the right of an input element */
.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

/********************/
/* Page: Place */
.item-avatar-orientation {
    padding-left: 120px;
    background-color: #33CD5F;
}
.item-avatar-orientation > img:first-child {
    left: 0;
    max-width: 120px;
}
.item-text-wrap-multiline {
    white-space: pre-wrap;
    overflow: visible;
}
p.text-wrap {
    white-space: pre-wrap;
    overflow: visible;
}

/********************/
/* Page: Search */
/*
#map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.scroll {
    height: 100%;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
*/
map {
  width: 100%;
  height: 100% !important;
}
.scroll, .mapWrap {
  height: 100%;
}